<h1>Soy una cafetera</h1>

<% if ( teaMaker ) { %>
	<h2>Tengo: Brewer, Coffe Maker, Creamer y Tea Maker</h2>

<% } else { %>
	<h2>Tengo: Brewer, Coffe Maker y Creamer</h2>
<% } %>

<h3> Mi coffe maker tiene:</h3>

<ul>
	<% if ( american ) { %>
	<li>American</li>
	<% } %>
	<% if ( espresso ) { %>
	<li>Espresso</li>
	<% } %>
	<% if ( espressoPana ) { %>
	<li>Espresso con pana</li>
	<% }%>
</ul>

<h3> Mi creamer es: 
	<% if ( regular ) { %>
		Regular
	<% } else if ( irish ) { %>
		Irish
	<% } %>	
</h3>